@charset "UTF-8";
/*TAGs Padrões*/
body{
    margin: 0 auto;
    background-color: #181818;
    color: #FFFFFF;
    font-family: 'Poppins';
}
table tbody tr td{
    background-color: rgb(228, 228, 228);
}
h1{
    font-size: 50px;
}
p{
    font-weight: 700;
    width: 500px;
}
table{
    background-color: aliceblue;
    border: none;
    width: 95%;
    overflow-x: auto;
    color: black;
}
section{
    width: 100%;
}

.btn-acao{
    text-align: center;
    cursor: pointer;
    font-weight: 700;
}
.btn-acao:hover{
    transition: 400ms;
    background-color: #673AB7;
    padding-left: 30px;
    padding-right: 30px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{

}
.titulo_atv{
    background-color: #673AB7;
    font-size: larger;
    COLOR: white;
}
.desc_atv{
    background-color: #FF5722;
}

.ocultaCodigo{
    display: none;
}

textarea {
    white-space: wrap;
    background-color: #9c9c9c;
    border: solid 3px;
    border-color: #673AB7;
}